// $theme-colors: (
//     'primary': #0091ea //Covalence Blue!  :D
// );

html {
    background-color: #fafaff;
}

body {
    background-color: #fafaff !important;
    font-family: 'Lato', sans-serif;
}

.task {
    text-decoration: none !important;
    color: black;
}

#task-bullet {
    color: #0E3B43;
}

.navbar-container {
    border-bottom: 1px solid #C2C2C2;
  }

.nav-btn {
    background-color: #fafaff;
    color: #0E3B43 !important;
    transition: 0.3s;
}

.nav-btn:hover {
    background-color: #0E3B43;
    color: #fafaff !important;
}

#logo {
    font-family: 'Nunito', sans-serif;
    color: #0E3B43;
    margin-right: 50px;
    justify-content: right;
}

#get-after-it {
    color: #357266;
    font-family: 'Lato', sans-serif;

}

.registerInput {
    margin: 25px 200px 0px;
}



@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
